{% extends 'blog/base.html' %}

{% block content %}
    <div class="post_detail">
        <div class="post">
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <center>
        <h1>{{ post.title }}.</h2>
        {% if post.published_date %}
            <h2>{{ post.published_date }}</h2>
        {% endif %}
        <br>
        <p>{{ post.text|linebreaksbr }}</p>
        </center>
        </div>
    </div>
{% endblock %}